.pagination{
    display: flex;
    width: 100%;
    justify-content: center;
    color: rgb(184, 184, 184);
    
}

.pagination button{
    background-color: rgb(67, 67, 67);
    padding: 5px;
    margin: 5px;
    border-style: none;
    border-radius: 2px;
    color: aqua;
    border: solid 1px aqua;
    cursor: pointer;
    transition: all .3s ease;
    font-weight: 700px;
}

.pagination button:hover{
    scale: 1.05;
}

.pagination span{
    padding: 10px;
    font-size: 18px;
}

.currentPage{
    color:aqua;

}