.contentCard{
    width: 20%;
    height: auto;
    margin: 10px 5px;
    padding: 5px;
    border: solid  aqua thin;
    border-radius: 15px;
    transition: 0.3s;
    text-align: center;
    justify-content: center;
}

/* .contentCard:hover{
    scale:  1.01;
    border-color: aqua;
} */

.imgCard{
    width: 100%;
    margin: 0;
    border-radius: 10px;
}

.detailButton{
    border-style: none;
    border-radius: 10px;
    border: solid aqua;
    padding: 8px;
    margin: 5px;
    /* background-color: aqua; */
    /* color: black; */
    color: aqua;
    background-color: transparent;

    font-weight: 600;
    box-shadow: 2px 2px 5px black;
    transition: 0.4s;
    cursor: pointer;
}

.detailButton:hover{
    transform: scale(1.1);
}

.name{
    padding: 5px;
    margin: auto;
    font-weight: 700;
    font-size: 15px;
    color: #ddd;
}


@media screen and (max-width: 600px) {
    .contentCard {
      width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .contentCard {
      width: 40%;
    }
}