.filter{
    display: flex;
    padding: 5px 5px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0);
    min-width: 200px;
}

.filter label{
    color:aqua;
    font-weight: 500;
    padding: 5px;
}

.filter select{
    font-size: 13px;
    padding: none;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    border: solid 1.5px aqua;
    border-color: aqua;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.filter option{
    padding: 5px;
    color: white;
    background-color: rgb(62, 62, 62);
    text-align: center;
}