.navContent{
   min-height: 150px;
   /* background-color: rgba(0, 0, 0, 0); */
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.navImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
}

.searchContent{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 10px;
   align-items: center;
}



.search{
    width: 500px;
    height: 30px;
    margin: 10px 30px;   
    padding: 5px;
    background-color: rgb(52, 52, 52);
    color: aliceblue;
    border-style: none;
    border-radius: 5px;
    border: solid 1px aqua;
    font-size: 18px;
}


.buttonClean{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.clean{
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(67, 67, 67);
    border-style: none;
    border: solid 1px aqua;
    border-radius: 5px;
    color: aqua;
    font-weight: 500px;
    cursor: pointer;
    transition: all .3s ease;
}

.clean:hover{
    scale: 1.05;
}

@media only screen and (max-width: 600px) {
    .search{
        width: 90%;
    }

    .navImg{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 10px;
    }
}